In [1]:
import numpy as np
import pandas as pd
from collections import Counter 
import operator 
import re
# Practice excercises -> https://www.w3resource.com/python-exercises/

# Data Types String

## Task 1

In [97]:
# # Write a Python program to count the number of characters (character frequency) in a string.
# Sample String : google.com'
# Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [98]:
string_input = 'google.com'

In [99]:
type(string_input)

str

In [100]:
count = 0 ;
charac_dictionary = {}

for elem in string_input:

    if elem not in charac_dictionary.keys():
        charac_dictionary[elem] = 1
    else:
        charac_dictionary[elem]= charac_dictionary[elem] +1

In [101]:
charac_dictionary

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

## Task 2

In [102]:
# Write a Python program to remove the nth index character from a nonempty string. Go to the editor
# Click me to see the sample solution

In [103]:
n = 2
string_input =   'google.com'
string_input_new = string_input[:n]+ string_input[n+1:]

In [104]:
string_input_new

'gogle.com'

## Task 3

In [ ]:
# Reverse a string if it's length is a multiple of 4

In [136]:
string_input  = 'BirinderSingh'
len(string_input)

13

In [144]:
def rever_string_4(string_input):
    
    string_input_new = ''

    if len(string_input)%4 ==0 :
        for char in string_input:
            string_input_new = char+ string_input_new
        return string_input_new
    else:
        
        return string_input

In [153]:
print(len('BirinderSinghSuc'))
rever_string_4('BirinderSinghSuc')

16

'cuShgniSredniriB'

## Task 4

In [155]:
# Write a Python function to convert a given string to all uppercase 
# if it contains at least 2 uppercase characters in the first 4 characters.

## Task 5

In [188]:
string = '123876'
width = 10

In [189]:
string + (width - len(string)) * 'x'

'123876xxxx'

## Task 6

In [190]:
# Write a Python program to remove spaces from a given string

In [198]:
string_input = 'Birinder Singh Suchu Tejal Kadam'
string_input

'Birinder Singh Suchu Tejal Kadam'

In [199]:
string_input = string_input.replace(' ','')
string_input

'BirinderSinghSuchuTejalKadam'

## Task 7

In [200]:
# Write a Python program to find the longest common sub-string from two given strings.

In [203]:
from difflib import SequenceMatcher 
  
def longest_Substring(s1,s2): 
  
     seq_match = SequenceMatcher(None,s1,s2) 
  
     match = seq_match.find_longest_match(0, len(s1), 0, len(s2)) 
  
     # return the longest substring 
     if (match.size!=0): 
            return (s1[match.a: match.a + match.size])  
        
     else: 
            return ('Longest common sub-string not present')  

s1 = 'abcdefgh'
s2 = 'xswerabcdwd'
print("Original Substrings:\n",s1+"\n",s2)
print("\nCommon longest sub_string:")
print(longest_Substring(s1,s2))

Original Substrings:
 abcdefgh
 xswerabcdwd

Common longest sub_string:
abcd

In [208]:
string1 = 'nBirinder'
string2 = 'Birkljhgnlkll'

In [209]:
SequenceMatcher(None,string1, string2).find_longest_match(0, len(s1), 0, len(s2))

Match(a=1, b=0, size=3)

# Data Types List

## Task 1

In [234]:
# Write a Python program to get a list, sorted in increasing order by the last element in 
# each tuple from a given list of non-empty tuples. Go to the editor
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [235]:
list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [248]:
def last(n): return n[-1]

def sort_list_last(tuples):
      return sorted(tuples, key=last)

print(sort_list_last([(2, 5,3), (1, 2,6), (4, 4,7), (2, 3,2), (2, 1,2)]))

[(2, 3, 2), (2, 1, 2), (2, 5, 3), (1, 2, 6), (4, 4, 7)]

In [255]:
def end(inout):
    return inout[-1]
    
def sort_list_tuples(input_list):
    return sorted(input_list, key = end)

In [256]:
sort_list_tuples(list1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

## Task 2

In [ ]:
# Write a Python program to generate all permutations of a list in Python.

In [258]:
import itertools 
list(itertools.permutations([2,3,4]))

[(2, 3, 4), (2, 4, 3), (3, 2, 4), (3, 4, 2), (4, 2, 3), (4, 3, 2)]

## Task 3

In [ ]:
# Write a Python program to find the index of an item in a specified list.

In [269]:
list1 = ['Birinder','Sam','neha', 'sun', 'moon' ]

In [271]:
elem = 'neha'
list1.index(elem)

2

## Task 4

In [273]:
# Write a Python program to create a list by concatenating a given list 
# which range goes from 1 to n. Go to the editor
# Sample list : ['p', 'q']
# n =5
# Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [280]:
list1 = ['p', 'q']
n = 5
list2= []
for i in range(1,n+1):
    for elem in list1:
        el = elem+str(i)
        list2.append(el)

In [281]:
list2

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

## Task 5

In [ ]:
# Write a Python program to split a list every Nth element. Go to the editor
# Sample list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
# Expected Output: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]
# Click me to see the sample solution

In [340]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 3

In [350]:
list3= []
for i in range(n):
    list2 = []
    j=0
    while (i + j*n) < len(list1):
        list2.append(list1[i + j*n])
        j = j+1 
    else:
        pass
    list3.append(list2)

In [347]:
list1[0::3]

['a', 'd', 'g', 'j', 'm']

In [352]:
list3

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

## Task 6

In [354]:
# Access dictionary key’s element by index
num = {'physics': 80, 'math': 90, 'chemistry': 86}

In [361]:
list(num)[0]

'physics'

In [360]:
list(num.keys())[0]

'physics'

## Task 7

In [ ]:
# Write a Python program to create a 3X3 grid with numbers. Go to the editor
# 3X3 grid with numbers:
# [[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [372]:
n=7
list1= []
for i in range(1,n+1):
    list2= [] 
    for j in range(1,n+1):
        list2.append(j)
        
    list1.append(list2)

In [373]:
list1

[[1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7]]

# Data Structure and Algorithms

## Task 1

In [10]:
# # Write a Python program to count the number of students of individual class.
# Counter({'VI': 3, 'V': 2, 'VII': 1})

In [4]:
counter = {}
classes = (('V', 1),('VI', 1),('V', 2),('VI', 2),('VI', 3),('VII', 1))

In [15]:
for a,b in classes:
    print(b)

1
1
2
2
3
1

In [17]:
Counter( class_name for class_name, count in classes)

Counter({'V': 2, 'VI': 3, 'VII': 1})

# Data Types Dictionary

## Task 1

In [375]:
# Write a Python program to sort (ascending and descending) a dictionary by value.

In [416]:
num = {'physics': 80, 'math': 90, 'chemistry': 86}

sorted(num.items() , key  = lambda kv : kv[1])

[('physics', 80), ('chemistry', 86), ('math', 90)]

In [423]:
sorted(num.items(),key = operator.itemgetter(1))

[('physics', 80), ('chemistry', 86), ('math', 90)]

## Task 2

In [445]:
num1 = {'physics': 80, 'math': 90, 'chemistry': 86}
num2 = {'aphysics': 850, 'hmath': 190, 'bchemistry': 286,'chemistry': 865}

In [446]:
num1.items()

dict_items([('physics', 80), ('math', 90), ('chemistry', 86)])

In [447]:
num3 = {}
for i in num1.keys():
    if i in num3.keys():
        num3[i] = num3[i]+num1[i]
    else:
        num3[i] = num1[i]
    
for i in num2.keys():
    if i in num3.keys():
        num3[i] = num3[i]+num2[i]
    else:
        num3[i] = num2[i]

In [448]:
num3

{'physics': 80,
 'math': 90,
 'chemistry': 951,
 'aphysics': 850,
 'hmath': 190,
 'bchemistry': 286}

## Task 3

In [454]:
# Write a Python program to get the top three items in a shop. Go to the editor
# Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
# Expected Output:
# item4 55
# item1 45.5
# item3 41.3

In [463]:
num5 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

In [468]:
sorted(num5.items() , key = lambda kv: kv[1], reverse = True)[:3]

[('item4', 55), ('item1', 45.5), ('item3', 41.3)]

In [469]:
sorted(num5.items() , key = operator.itemgetter(1), reverse = True)[:3]

[('item4', 55), ('item1', 45.5), ('item3', 41.3)]

# Task 4

In [ ]:
# Write a Python program to combine two dictionary adding values for common keys. Go to the editor
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [74]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400, 'e':654}

In [75]:
def add_dictionary(d3, d1):
    print(d1)
    for key in d1.keys():
        if key not in d3.keys():
            d3[key] = d1[key]
        else:
            d3[key] = d1[key]+d3[key]
            
    return d3

In [76]:
d3= {}
d31 = add_dictionary(d3, d1)
d32 = add_dictionary(d31, d2)
d32

{'a': 100, 'b': 200, 'c': 300}
{'a': 300, 'b': 200, 'd': 400, 'e': 654}

{'a': 400, 'b': 400, 'c': 300, 'd': 400, 'e': 654}

In [77]:
d3 = {}
for key in d1.keys():
    if key not in d3.keys():
        d3[key] = d1[key]
    else:
        d3[key] = d1[key]+d3[key]
    
for key in d2.keys():
    if key not in d3.keys():
        d3[key] = d2[key]
    else:
        d3[key] = d2[key]+d3[key]

In [78]:
d3

{'a': 400, 'b': 400, 'c': 300, 'd': 400, 'e': 654}

In [79]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [81]:
# Simple way 
Counter(d1)+ Counter(d2)

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400, 'e': 654})

# Task 5

In [86]:
# Write a Python program to create a dictionary from a string. Go to the editor
# Note: Track the count of the letters from the string.
# Sample string : 'w3resource'
# Expected output: {'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [88]:
name = 'BirinderSinghSuchu'
Counter(name)

Counter({'B': 1,
         'i': 3,
         'r': 2,
         'n': 2,
         'd': 1,
         'e': 1,
         'S': 2,
         'g': 1,
         'h': 2,
         'u': 2,
         'c': 1})

In [89]:
dict(Counter(name))

{'B': 1,
 'i': 3,
 'r': 2,
 'n': 2,
 'd': 1,
 'e': 1,
 'S': 2,
 'g': 1,
 'h': 2,
 'u': 2,
 'c': 1}

# Task 6

In [ ]:
# Write a Python program to remove spaces from dictionary keys.

In [117]:
d1 = {'bir singh': 100, 'biri is': 200, 'c section': 300}

In [118]:
d2 = {}
for key in d1.keys():
    d2[key.replace(' ','')] = d1[key]

In [119]:
d1

{'bir singh': 100, 'biri is': 200, 'c section': 300}

In [120]:
d2

{'birsingh': 100, 'biriis': 200, 'csection': 300}

# Task 7

In [121]:
# 40. Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary. Go to the editor
# {'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
# 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
# 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
# 15
# 25
# 35
# x has value [11, 12, 13, 14, 15, 16, 17, 18, 19]
# y has value [21, 22, 23, 24, 25, 26, 27, 28, 29]
# z has value [31, 32, 33, 34, 35, 36, 37, 38, 39]

In [123]:
np.arange(11,20)

array([11, 12, 13, 14, 15, 16, 17, 18, 19])

In [126]:
key_list = ['x','y','z']
d1 = {}
a = 11
b = 20
for key in key_list:
    d1[key] = np.arange(a,b)
    a = a+10
    b = b+10

In [127]:
d1

{'x': array([11, 12, 13, 14, 15, 16, 17, 18, 19]),
 'y': array([21, 22, 23, 24, 25, 26, 27, 28, 29]),
 'z': array([31, 32, 33, 34, 35, 36, 37, 38, 39])}

# Conditionals

# Task 1

In [129]:
# Write a Python program to find those numbers which 
# are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [130]:
list_numbers = []
for num in range(1500,2701):
    if num%7 == 0:
        if num%5 == 0:
            list_numbers.append(num)
        else:
            pass
    else:
        pass
list_numbers

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

In [131]:
test= [1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,
2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695 ]

In [133]:
test == list_numbers

True

# Task 2

In [138]:
# Let the user enter a number and you reverse it

In [142]:
enter = input('Enter a string : ')
print(enter[::-1])

Enter a string : 123456789
987654321

# Task 3

In [ ]:
# # 8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
# Note : Use 'continue' statement.
# Expected Output : 0 1 2 4 5

In [150]:
for x in range(6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 2 4 5

In [147]:
i = 0
while i < 9:
    
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

In [160]:
i= 0
while i <7:
    i = i+1
    if (i==3 or i==6):
        continue 
    print(i)

1
2
4
5
7

# Task 4

In [161]:
# 15. Write a Python program to check the validity of password input by users. Go to the editor
# Validation :

# At least 1 letter between [a-z] and 1 letter between [A-Z].
# At least 1 number between [0-9].
# At least 1 character from [$#@].
# Minimum length 6 characters.
# Maximum length 16 characters.

In [187]:
password_entered = input('Please enter the password : ')
x = True

while x:  

    if (len(password_entered)<6 or len(password_entered)>12):
        break
    elif not re.search("[a-z]",password_entered):
        break
    elif not re.search("[0-9]",password_entered):
        break
    elif not re.search("[A-Z]",password_entered):
        break
    elif not re.search("[$#@]",password_entered):
        break
    elif re.search("\s",password_entered):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

Please enter the password : *123de$54
Not a Valid Password

# Misc

In [13]:
# Fibonacci Series 

a, b = 0,1
list1 = []

for i in range(13):
    list1.append(a)
    a,b = b, a+b
list1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [14]:
n = 10
fib_list = []
a, b = 0 , 1 
for index in range(10):
    fib_list.append(a)
    a,b = b,a+b

In [15]:
fib_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# # Palindrome problem 

# Given a string, write a python function to check if it is palindrome or not. 
# A string is said to be palindrome if the 
# reverse of the string is the same as string. 
# For example, “radar” is a palindrome, but “radix” is not a palindrome.

In [20]:
string = 'Radar'

if string.lower() == string[::-1].lower():
    print('Yes, it is a palindrome')
else:
    print('No, it is not a palindrome')

Yes, it is a palindrome

In [27]:
string = 'Rada'
string_reversed= ''

for char in string:
    string_reversed = char+string_reversed
    
if string_reversed.lower() == string_reversed[::-1].lower():
    print('Yes, it is a palindrome')
else:
    print('No, it is not a palindrome')

No, it is not a palindrome

In [33]:
# Fizzbuzz problem

num_input = 160

if num_input %3 ==0 and num_input %5 ==0:
    print('FizzBuzz')
elif num_input % 3 ==0 :
    print('Fizz')
elif num_input %5 ==0:
    print('Buzz')
else:
    pass

Buzz

In [89]:
# Good Practices in Coding 
# https://realpython.com/python-coding-interview-tips/

In [36]:
# Use Enumerate 

numbers = [45, 22, 14, 65, 97, 72]
for i, num in enumerate(numbers):
     if num % 3 == 0 and num % 5 == 0:
            numbers[i] = 'fizzbuzz'
            
     elif num % 3 == 0:
            numbers[i] = 'fizz'
            
     elif num % 5 == 0:
            numbers[i] = 'buzz'

In [41]:
numbers

['fizzbuzz', 22, 14, 'buzz', 97, 'fizz']

In [40]:
for index, element in enumerate(numbers):
    print(index, element)

0 fizzbuzz
1 22
2 14
3 buzz
4 97
5 fizz

In [42]:
numbers = [45, 22, 14, 65, 97, 72]
for i, num in enumerate(numbers, start=52):
     print(i, num)

52 45
53 22
54 14
55 65
56 97
57 72

In [49]:
# Map on string and function

list(map(str.lower, ['BirYYIU','yuoyu']))

['biryyiu', 'yuoyu']

In [50]:
# Use List Comprehensions instead of Map or Lambda

In [51]:
numbers = [4, 2, 1, 6, 9, 7]
def square(x):
     return x*x

In [53]:
list(map(square, numbers))

[16, 4, 1, 36, 81, 49]

In [55]:
# Better : 
[square(x) for x in numbers]

[16, 4, 1, 36, 81, 49]

In [67]:
# List comprehensions with filters 

[x for x in numbers if x>3]

[4, 6, 9, 7]

In [81]:
def is_even(num):
    if num%2 ==0:
        return True
    else:
        return False

In [84]:
[x for x in numbers if is_even(x)]

[4, 2, 6]

In [86]:
list(filter(is_even, numbers))

[4, 2, 6]

In [88]:
def get_name_and_decades(name, age):
     return f"My name is {name} and I'm {age / 10:.5f} decades old."

get_name_and_decades("Maria", 31)

"My name is Maria and I'm 3.10000 decades old."